.container {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color:cadetblue;
    border-radius: 4px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid-item-category {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

@media (max-width:500px) {
    .grid-item-category {
        display: none;
    }

    .container {
        grid-template-columns: 100%;
       
    }
}